# watch nix files for changes and reload the shell when they change
shopt -s globstar 2>/dev/null
watch_file nix/**/*.nix
watch_file flake.nix
watch_file flake.lock

if [ "$XDG_SESSION_TYPE" = "wayland" ] || [ -n "$WAYLAND_DISPLAY" ]; then
    shell="wayland";
elif [ "$XDG_SESSION_TYPE" = "x11" ] || [ -n "$DISPLAY" ]; then
    shell="x11";
else
    shell="drm";
fi;

use flake .#$shell
