.direnv/

target/
gbeed
dist/

# nix symlink
result
*img.zst

roms/
saves/

perf*
flamegraph*
*.svg

mts-20240926-1737-443f6e1/
gb-test-roms/

*.gb
*.gbc
*.sav
*.bin
*.zip
*.tar*

# latex related files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.log
*.out
*.lot
*.lof
*.pdf
*.toc
*.xdv
*.ist